body {
  text-align: center;
  position: relative;
        }
#brought {background-color: #974EC3;}

#navthings{
  text-align: center;
  margin-top: 2%;
}
.trevor{
  height: 40%;
}

.title{
  text-align: center;
  color: white;
  background-color: purple;

}
.joy{
  padding-right: 15%;
  margin: auto;
}
.grantss{
  width: 30%;
    margin-right: 50%;

}

#second{
  text-align: center;


}
.secoundsectioncolour{
  color: #504099;
}
.winnerslist{
    color: red;
    margin: 3%;
}



.moneytesti{
  color: white;
}

.fampics{
  width: 50%;
}
.assure{
  background-color: #FE7BE5;
  color: white;
  margin: 5%;
}
#contact{
    margin-top: 10%;
}
.CONTACTSS{
  height: 50PX;
        margin-bottom: 2%;
}

.conclude{
  background-color: #974EC3;
  color: white;
}

.lastimage{
  width: 5%;
}
.moneyagent{
  color: red;

}
